@page
@model Garvan.Web.Pages.StoryModel
@{
    ViewData["Title"] = Resources.Contacts;
}

<div id="story-div">
    <div id="story-wrapper" class="row">
        <div id="current-story-wrapper" class="col-md-6">
            <h2>@Resources.Story</h2>
            <div id="prelude">
                @{Html.RenderPartial("Partials/Chapter", model: Model.Prelude);}
            </div>
        </div>
        <div id="current-story-image-wrapper" class="col-md-6">
            <table class="table-wrapper">
                <tr>
                    <td>
                        <img src="~/images/pictures/moon.png" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="chapters-outer-wrapper">
        <div id="chapters-inner-wrapper" class="row">
            <div class="col-md-6">
                <div id="@Model.Prelude.NextChapterDiv" class="chapter-div">
                    @{Html.RenderPartial("Partials/Chapter", model: Model.FirstChapter);}
                </div>
                @*<hr />
                <div id="@Model.FirstChapter.NextChapterDiv" class="chapter-div">
                    @{Html.RenderPartial("Partials/Chapter", model: Model.SecondChapter);}
                </div>
                <hr />
                <div id="@Model.SecondChapter.NextChapterDiv" class="chapter-div">
                    @{Html.RenderPartial("Partials/Chapter", model: Model.ThirdChapter);}
                </div>*@

                <button id="shop-button" class="garvan-button">@Resources.ShopNow</button>
            </div>
            <div id="chapters-links-wrapper" class="col-md-6">
                <a href="#prelude" class="chapter-link chapter-nav-link selected-chapter">- @Model.Prelude.ChapterHeader</a>
                <a href="#first-chapter" class="chapter-link chapter-nav-link">- @Model.FirstChapter.ChapterHeader</a>
                <div class="chapter-link chapter-nav-link disabled">- @Model.SecondChapter.ChapterHeader</div>
                <div class="chapter-link chapter-nav-link disabled">- @Model.ThirdChapter.ChapterHeader</div>
            </div>
        </div>
    </div>
</div>

@{await Html.RenderPartialAsync("Partials/Subscribe", new Garvan.Web.Pages.Partials.SubscribePartialModel());}
