<div id="cable-monster-div" class="partial-div partial-info-div">
    <div class="col-md-9 img-container">
        <table class="table-wrapper">
            <tr>
                <td>
                    <img class="desk-front-img" src="~/images/pictures/desk_front.png" />
                </td>
            </tr>
        </table>
        <img class="logo-img" src="~/images/garvan_logo.png" />
    </div>
    <div class="col-md-3 text-container">
        <h3>@Resources.TheCableMonster</h3>
        <div>
            <p>
                @Resources.StoryPreludeParagraph1
            </p>
            <p>
                @Resources.StoryPreludeParagraph2
                <br />
                @Resources.StoryPreludeParagraph3
            </p>

            <a asp-page="/Story" class="inside-link">@Resources.ReadTheFullStory.ToUpper()</a>
        </div>

        <img class="bird-img" src="~/images/pictures/bird.png" />
    </div>
</div>