@model Garvan.Web.Pages.Partials.SpecificationsTableModel

<table class="specifications-table">
    <tr>
        <th>@Resources.SpecificationsDimensionsLabel:</th>
        <td>@Resources.SpecificationsDimensionsValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsMaterialLabel:</th>
        <td>@Resources.SpecificationsMaterialValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsWeightLabel:</th>
        <td>@Resources.SpecificationsWeightValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsColorLabel:</th>
        <td>@Resources.SpecificationsColorValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsMaxLoadLabel:</th>
        <td>@Resources.SpecificationsMaxLoadValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsFrontIOLabel:</th>
        <td>@Resources.SpecificationsFrontIOValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsFormFactorLabel:</th>
        <td>@Resources.SpecificationsFormFactorValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsPowerSupplyLabel:</th>
        <td>@Resources.SpecificationsPowerSupplyValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsExpansionSlotsLabel:</th>
        <td>@Resources.SpecificationsExpansionSlotsValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsMaxGpuLengthLabel:</th>
        <td>@Resources.SpecificationsMaxGpuLengthValue</td>
    </tr>
    <tr>
        <th>@Resources.SpecificationsMaxCpuCoolerHeightLabel:</th>
        <td>@Resources.SpecificationsMaxCpuCoolerHeightValue</td>
    </tr>

    @if (Model.IncludeAllSpecifications)
    {
        <tr>
            <th>@Resources.SpecificationsTotalPossibleFansLabel:</th>
            <td>@Html.Raw(Resources.SpecificationsTotalPossibleFansValue)</td>
        </tr>
        <tr>
            <th>@Resources.SpecificationsRadiatorMountingsLabel:</th>
            <td>@Html.Raw(Resources.SpecificationsRadiatorMountingsValue)</td>
        </tr>
        <tr>
            <th>@Resources.SpecificationsDriveTraysLabel:</th>
            <td>@Html.Raw(Resources.SpecificationsDriveTraysValue)</td>
        </tr>
    }
</table>